---
- name: Install Prometheus from official Debian repositories
  apt:
    name: prometheus
    state: present
    update_cache: yes
  when: ansible_facts.os_family == "Debian"

- name: Create prometheus user
  user:
    name: prometheus
    system: yes
    shell: /usr/sbin/nologin
    create_home: no
- name: Create prometheus group
  group:
    name: prometheus
    system: yes

- name: Create Prometheus data directory
  file:
    path: /var/lib/prometheus
    state: directory
    owner: prometheus
    group: prometheus
    mode: '0755'

- name: Configure Prometheus
  template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: '0644'
  notify: restart prometheus
