[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
remote_user = root
become = false
remote_tmp = /tmp
local_tmp = /tmp
roles_path = /Users/teosibileau/Desktop/grillgauge/ansible/roles

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
